.color-white{
  color: #fff;
  background-color: #696cff;
  border-color: #696cff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.hover-outline:focus{
  border: #696cff 1px solid ;
}

.form-check-input:checked{
  background-color: #696cff;
}

