<div class="col-xl container" style=" margin-top: 2%;">
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Edit Category</h5>
      <small class="text-muted float-end">*All Fields are Required</small>
    </div>
    <div class="card-body">
      <form method="post">

        <div class="mb-3">
          <label class="form-label" for="basic-icon-default-company">Title of Category</label>
          <div class="input-group input-group-merge">
            <span id="basic-icon-default-company2" class="input-group-text"
              ><i class="bx bx-buildings"></i
            ></span>
            <input
              type="text"
              id="basic-icon-default-company"
              class="form-control"
              placeholder="Category Title"
              aria-label="ACME Inc."
              aria-describedby="basic-icon-default-company2"
              name="title"
              disabled="true"
              [(ngModel)]="category.title"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="basic-icon-default-message">Description</label>
          <div class="input-group input-group-merge">
            <span id="basic-icon-default-message2" class="input-group-text"
              ><i class="bx bx-comment"></i
            ></span>
            <textarea
              id="basic-icon-default-message"
              class="form-control"
              placeholder="Category Description"
              aria-label="Hi, Do you have a moment to talk Joe?"
              aria-describedby="basic-icon-default-message2"
              rows="3"
              name="description"
              [(ngModel)]="category.description"
            ></textarea>
          </div>
        </div>
        <button type="submit" (click)="editCategory()" class="btn btn-primary color-white">Update</button>
      </form>
    </div>
  </div>
</div>
