<!-- Borderless Table -->
<div class="container">
  <div class="card " style=" margin-top: 2%">
    <h5 class="card-header">Categories</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Title</th>
            <th>Short Description</th>
            <th>Update Description</th>
            <th>Delete Category</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let u of category">
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{u.title}}</strong></td>
            <td>{{u.description}}</td>
            <td><button class="btn btn-info" (click)="updateCategory(u.categoryid)">Update</button></td>
            <td><button class="btn btn-danger" (click)="deleteCategory(u.categoryid)">Delete</button></td>
            
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
